* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#principal-amount,
#interest-rate,
#loan-term,
#answer,
#interest {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.my-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #333;
    overflow: hidden;
    transition: .7s;
}

.my-button:before,
.my-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transform: skewX(-20deg);
    background-color: #007bff;
    transition: transform 0.8s ease-in-out, left 0.8s ease-in-out;
}

.my-button:after {
    left: 100%;
}

.my-button:hover:before {
    left: 0;
}

.my-button:hover:after {
    left: 0;
}

.my-button:hover {
    background-color: #007bff;
}

.my-button:hover span {
    color: #fff;
}

.my-button span {
    position: relative;
    z-index: 1;
}



table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

#table-div {
    display: none;
}

table th,
table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

table th {
    background-color: #f1f1f1;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }

    #principal-amount,
    #interest-rate,
    #loan-term,
    #answer,
    #interest {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    table th,
    table td {
        padding: 5px;
        font-size: 12px;
    }

    .my-button {
        padding: 5px 10px;
        font-size: 14px;
    }
}